<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Weather Forecast</title>

    <!-- Bootstrap core CSS -->
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link href="../static/css/style.css"
          media="screen"
          rel="stylesheet" th:href="@{css/style.css}"/>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.4.1/jquery.slim.min.js}"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>


</head>
<style>
    body {
        background-image: url(img/weather.jpg)
    }


</style>

<body>

<form action="#" method="post" th:action="@{/weather}" th:object="${city}">

    <div class="container-fluid searchContainer">
        <div class="">
            <div class="searchDivWrapper">
                <div class="col-md-6 offset-md-3 col-search">
                    <div class="searchInnerDivWrapper card cardPadding">
                        <div class="logoDiv">
                            <p class="heading-p">Weather Forecast</p>
                            <img alt="logo" src="../static/img/logo.png" th:alt-title="#{logo}"
                                 th:src="@{img/logo.png}" title="logo"/>
                        </div>
                        <div class="searchFieldWrapper" th:with="test = 10">
                            <div class="searchField">
                                <input  class="searchInput" list="brow" placeholder="Please select a City"
                                       th:field="*{title}"/>
                                <datalist id="brow">
                                    <option th:each="city: ${cities}" th:value="${city.title}">
                                </datalist>
                                <input class="form-control" type="hidden" th:field="*{timeZone}" id="timeZoneId"
                                       name="clientName"/>
                                <input class="form-control" type="hidden" th:field="*{requestEpoach}"
                                       id="requestEpoachId" name="clientName"/>
                            </div>
                            <div class="searchBtn">
                                <input class="searchBtnA" type="submit" value="Search"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script th:inline="javascript">
    var d = new Date();
    var epoach = Math.round(d.getTime() / 1000);
    var timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
    document.getElementById('timeZoneId').value = timeZone;
    document.getElementById('requestEpoachId').value = epoach;
</script>

</body>

</html>