<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Weather Forecast</title>

    <!-- Bootstrap core CSS -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../static/css/style.css"
          th:href="@{css/style.css}"
          rel="stylesheet" media="screen"/>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.4.1/jquery.slim.min.js}"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>

</head>
<style>

</style>

<body>
<div class="container-fluid logo-background">
    <a th:href="@{/weather}">
        <div class="header-wrapper">
            <div class="header-logo">
                <img alt="logo" src="../static/img/logo.png" th:alt-title="#{logo}" th:src="@{img/logo.png}" title="logo" class="header-logo-img"/>
            </div>
            <div class="header-text">
                <p class="heading-p-header">Weather Forecast</p>
            </div>
        </div>
    </a>

</div>

<div class="container">
    <div class="tabs-wrapper-forecast">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">Today</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">Tomorrow</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active show" id="profile">
                <div id="accordion">
                    <div th:each="data: ${today}" class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" th:href= "'#collapse' + ${#dates.format(data.date, 'hh')}">
                                <div>
                                    <div class="row">
                                        <div class="col-md-1">
                                            <p class="dailyBlackP" th:text="${#dates.format(data.date, 'hh a')}"></p>
                                            <p class="dailyValueP" th:text="${#dates.format(data.date, 'MM/dd')}"></p>
                                        </div>
                                        <div  th:switch="${data.icon}" class="col-md-1">
                                            <img th:case="'clear-day'" src="../static/img/clear-day.png" th:alt-title="#{clear-day}" th:src="@{img/clear-day.png}" class="weather-icon" />
                                            <img th:case="'clear-night'" src="../static/img/clear-night.png" th:alt-title="#{clear-night}" th:src="@{img/clear-night.png}" class="weather-icon" />
                                            <img th:case="'rain'" src="../static/img/rain.png" th:alt-title="#{rain}" th:src="@{img/rain.png}" class="weather-icon" />
                                            <img th:case="'snow'" src="../static/img/snow.png" th:alt-title="#{snow}" th:src="@{img/snow.png}" class="weather-icon" />
                                            <img th:case="'sleet'" src="../static/img/sleet.png" th:alt-title="#{sleet}" th:src="@{img/sleet.png}" class="weather-icon" />
                                            <img th:case="'wind'" src="../static/img/wind.png" th:alt-title="#{wind}" th:src="@{img/wind.png}" class="weather-icon" />
                                            <img th:case="'fog'" src="../static/img/fog.png" th:alt-title="#{fog}" th:src="@{img/fog.png}" class="weather-icon" />
                                            <img th:case="'cloudy'" src="../static/img/cloudy.png" th:alt-title="#{cloudy}" th:src="@{img/cloudy.png}" class="weather-icon" />
                                            <img th:case="'partly-cloudy-day'" src="../static/img/partly-cloudy-day.png" th:alt-title="#{partly-cloudy-day}" th:src="@{img/partly-cloudy-day.png}" class="weather-icon" />
                                            <img th:case="'partly-cloudy-night'" src="../static/img/partly-cloudy-night.png" th:alt-title="#{partly-cloudy-night}" th:src="@{img/partly-cloudy-night.png}" class="weather-icon" />
                                        </div>
                                        <div class="col-md-1">
                                            <p class="celsius-P"><span
                                                    th:text="${data.temperature}"></span><span>°</span></p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="cloudy-font" th:text="${data.summary}"></p>
                                        </div>
                                        <div class="col-md-4">
                                            <p class="precipe-p">Precip <span
                                                    th:text="${data.precipProbability}"></span>%</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div th:id="'collapse' + ${#dates.format(data.date, 'hh')}" class="panel-collapse collapse in">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>Apparent Temperature: <span th:text="${data.apparentTemperature}"></span></p>
                                        <p>Precip Intensit: <span th:text="${data.precipIntensity}"></span></p>
                                        <p>Dew Point: <span th:text="${data.dewPoint}"></span></p>
                                        <p>Humidity: <span th:text="${data.humidity}"></span></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>Pressure: <span th:text="${data.pressure}"></span></p>
                                        <p>Wind Speed: <span th:text="${data.windSpeed}"></span></p>
                                        <p>Wind Gust: <span th:text="${data.windGust}"></span></p>
                                        <p>Wind Bearing: <span th:text="${data.windBearing}"></span></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>Cloud Cover: <span th:text="${data.cloudCover}"></span></p>
                                        <p>UV Index: <span th:text="${data.uvIndex}"></span></p>
                                        <p>Visibility: <span th:text="${data.visibility}"></span></p>
                                        <p>Ozone: <span th:text="${data.ozone}"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="buzz">
                <div id="accordion">
                    <div th:each="data: ${tomorrow}" class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" th:href= "'#collapse' + ${#dates.format(data.date, 'hh')}">
                                <div>
                                    <div class="row">
                                        <div class="col-md-1">
                                            <p class="dailyBlackP" th:text="${#dates.format(data.date, 'hh a')}"></p>
                                            <p class="dailyValueP" th:text="${#dates.format(data.date, 'MM/dd')}"></p>
                                        </div>
                                        <div  th:switch="${data.icon}" class="col-md-1">
                                            <img th:case="'clear-day'" src="../static/img/clear-day.png" th:alt-title="#{clear-day}" th:src="@{img/clear-day.png}" class="weather-icon" />
                                            <img th:case="'clear-night'" src="../static/img/clear-night.png" th:alt-title="#{clear-night}" th:src="@{img/clear-night.png}" class="weather-icon" />
                                            <img th:case="'rain'" src="../static/img/rain.png" th:alt-title="#{rain}" th:src="@{img/rain.png}" class="weather-icon" />
                                            <img th:case="'snow'" src="../static/img/snow.png" th:alt-title="#{snow}" th:src="@{img/snow.png}" class="weather-icon" />
                                            <img th:case="'sleet'" src="../static/img/sleet.png" th:alt-title="#{sleet}" th:src="@{img/sleet.png}" class="weather-icon" />
                                            <img th:case="'wind'" src="../static/img/wind.png" th:alt-title="#{wind}" th:src="@{img/wind.png}" class="weather-icon" />
                                            <img th:case="'fog'" src="../static/img/fog.png" th:alt-title="#{fog}" th:src="@{img/fog.png}" class="weather-icon" />
                                            <img th:case="'cloudy'" src="../static/img/cloudy.png" th:alt-title="#{cloudy}" th:src="@{img/cloudy.png}" class="weather-icon" />
                                            <img th:case="'partly-cloudy-day'" src="../static/img/partly-cloudy-day.png" th:alt-title="#{partly-cloudy-day}" th:src="@{img/partly-cloudy-day.png}" class="weather-icon" />
                                            <img th:case="'partly-cloudy-night'" src="../static/img/partly-cloudy-night.png" th:alt-title="#{partly-cloudy-night}" th:src="@{img/partly-cloudy-night.png}" class="weather-icon" />
                                        </div>
                                        <div class="col-md-1">
                                            <p class="celsius-P"><span
                                                    th:text="${data.temperature}"></span><span>°</span></p>
                                        </div>
                                        <div class="col-md-5">
                                            <p class="cloudy-font" th:text="${data.summary}"></p>
                                        </div>
                                        <div class="col-md-4">
                                            <p class="precipe-p">Precip <span
                                                    th:text="${data.precipProbability}"></span>%</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div th:id="'collapse' + ${#dates.format(data.date, 'hh')}" class="panel-collapse collapse in">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>Apparent Temperature: <span th:text="${data.apparentTemperature}"></span></p>
                                        <p>Precip Intensit: <span th:text="${data.precipIntensity}"></span></p>
                                        <p>Dew Point: <span th:text="${data.dewPoint}"></span></p>
                                        <p>Humidity: <span th:text="${data.humidity}"></span></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>Pressure: <span th:text="${data.pressure}"></span></p>
                                        <p>Wind Speed: <span th:text="${data.windSpeed}"></span></p>
                                        <p>Wind Gust: <span th:text="${data.windGust}"></span></p>
                                        <p>Wind Bearing: <span th:text="${data.windBearing}"></span></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>Cloud Cover: <span th:text="${data.cloudCover}"></span></p>
                                        <p>UV Index: <span th:text="${data.uvIndex}"></span></p>
                                        <p>Visibility: <span th:text="${data.visibility}"></span></p>
                                        <p>Ozone: <span th:text="${data.ozone}"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>